/* 选项按钮样式 */
:deep(.ant-radio-button-wrapper) {
  text-align: center;
}
:deep(.ant-radio-button-wrapper:hover) {
  color: #6f005f;
}
:deep(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
  color: #fff;
  border-color: #6f005f;
  background-color: #6f005f;
}
:deep(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before) {
  background-color: #6f005f;
}
