:deep(.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner) {
  border-color: #00557c;
}
:deep(.ant-checkbox-checked .ant-checkbox-inner) {
  background-color: #00557c;
  border-color: #00557c;
}
:deep(.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner) {
  background-color: #00557c;
  opacity: 0.8;
}
:deep(
    .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
      .ant-checkbox-checked:not(.ant-checkbox-disabled)
      .ant-checkbox-inner
  ) {
  background-color: #00557c;
  border-color: #00557c;
  opacity: 0.8;
}
:deep(
    .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
      .ant-checkbox-checked:not(.ant-checkbox-disabled):after
  ) {
  border-color: #00557c;
  opacity: 0.8;
}

:deep(.ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td) {
  background: rgba(0, 85, 124, 0.1);
}
:deep(.ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected:hover > td) {
  background: rgba(0, 85, 124, 0.2);
}
