/* 步骤条样式 */
:deep(.ant-steps.ant-steps-vertical > .ant-steps-item) {
  min-height: 100px;
}
:deep(.ant-steps-item-container) {
  pointer-events: none;
}
:deep(.ant-steps .ant-steps-item-process .ant-steps-item-icon) {
  background-color: #6f005f;
  border: transparent;
}
:deep(.ant-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after) {
  background-color: #6f005f;
}
:deep(.ant-steps .ant-steps-item-finish .ant-steps-item-icon) {
  background-color: rgba(111, 0, 95, 0.1);
  border-color: rgba(111, 0, 95, 0.1);
}
:deep(.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon) {
  color: #6f005f;
}
