:deep(.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  color: #6f005f;
}
:deep(.ant-tabs .ant-tabs-ink-bar) {
  background: #6f005f;
}
:deep(.ant-tabs .ant-tabs-tab:hover) {
  color: #6f005f;
}
